certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
commonmark==0.9.1
idna==3.3
psycopg2-binary==2.9.3
Pygments==2.11.2
requests==2.27.1
rich==11.2.0
six==1.16.0
spotipy==2.19.0
urllib3==1.26.8
